.container
  .mt-5
    %h2 Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'needs-validation', novalidate: '' }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .form-group.mb-3
        = f.label :email, class: 'form-label'
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true
      .form-group
        = f.submit 'Send me reset password instructions', class: 'btn btn-primary'
    = render 'devise/shared/links'
