.container
  %h1.text-center.mb-4 Extension Home

  .row
    .col-md-6
      .card.mb-3
        .card-header Extension Overview
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              %strong User ID:
              %span 
                = @extension_client.token_identifier
            %li.list-group-item
              %strong Received data blocks:
              %span  
                = @extension_client.extension_data.count
            %li.list-group-item
              %strong IP addresses used:
              %span 
                %a.btn.btn-link.d-inline{"role" => "button", "data-bs-toggle" => "modal", "data-bs-target" => "#exampleModal", style: "color: blue; text-decoration: underline; padding: 0; margin: 0; vertical-align: baseline;"}
                  = @ip_addresses_used.count
            %li.list-group-item
              %strong registration date:
              %span 
                = @extension_client.created_at.strftime("%Y-%m-%d %H:%M:%S")
    .col-md-6
      .card.mb-3
        .card-header Domain scan
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              %strong Unique domains scanned:
              %span 
                = @unique_domains_scanned
            %li.list-group-item
              %strong Key B:
              %span Value B
            %li.list-group-item
              %strong Key C:
              %span Value C
            %li.list-group-item
              %strong Key D:
              %span Value D
  .row
    .col-md-6
      .card.mb-3
        .card-header Section 3
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              %strong Key X:
              %span Value X
            %li.list-group-item
              %strong Key Y:
              %span Value Y
            %li.list-group-item
              %strong Key Z:
              %span Value Z
    .col-md-6
      .card.mb-3
        .card-header Section 4
        .card-body
          %ul.list-group.list-group-flush
            %li.list-group-item
              %strong Key α:
              %span Value α
            %li.list-group-item
              %strong Key β:
              %span Value β
            %li.list-group-item
              %strong Key γ:
              %span Value γ



-######################################################################################################################### Modal
#exampleModal.modal.fade{tabindex: "-1", "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Ip Addresses Used
        %button.btn-close{type: "button", "data-bs-dismiss": "modal", "aria-label": "Close"}
      .modal-body
        %table.table
          %thead
            %tr
              %th IP Address
              %th Location Info
          %tbody
            - @locations.each do |location|
              %tr
                %td= location["ip_address"]
                %td
                  - if location["error"]
                    = location["error"]
                  - else
                    = "#{location['city']}, #{location['region']}, #{location['country']}"
      .modal-footer
        %button.btn.btn-secondary{type: "button", "data-bs-dismiss": "modal"} Close
        %button.btn.btn-primary{type: "button"} Save changes


.row.justify-content-center.mt-3
  .col-md-8
    %h1.text-center Verifications

    %table.table.table-striped
      %thead
        %tr
          %th Image Preview
          %th Actions
      %tbody
        - @verifications.each do |verification|
          - if verification.image.attached?
            %tr
              %td= image_tag url_for(verification.image), width: '100'
              %td= link_to 'Download', rails_blob_path(verification.image, disposition: 'attachment'), class: 'btn btn-primary'